body {
    background-color: #F5F5F5;
}

/* top bar */
.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #737373;
    padding: 20px;
    gap: 40em;
}
.top-left {
    display: flex;
    align-items: center;
}
.top-left span {
    font-size: 16px;
    font-family: math;
    color: white;
    margin-right: 20px;
    margin-left: 4px;
}
.top-right img {
    width: 25px;
    margin-bottom: -5px;
}
.top-right span {
    font-size: 16px;
    font-family: math;
    color: white;
    margin: 0 5px;
}
.top-right a {
    text-decoration: none;
    color: white;
}

@media (max-width: 992px ) {
    
}
@media (max-width: 768px) {
    .top-container {
    display: none;
}
    
}


/* Header section */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-left {
    display: flex;
}
.header-left img {
    width: 55px;
    height: 51px;
    margin-right: 12px;
}
.header-left h3 {
    font-size: 20px;
    font-weight: bold;
}
ul {
    word-spacing: 40px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
}
nav li {
    list-style: none;
    display: inline-block;
}
.header-right button {
    width: 140px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: #1778b8;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
@media (max-width: 992px ) {
    
}
@media (max-width: 768px) {
    ul {
    word-spacing: 18px;
    margin-left: -26px;
}
.header-right button {
    width: 75px;
    height: 37px;
    border: none;
    border-radius: 12px;
    background-color: #1778b8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-left: 23px;
    font-size: 8px;
}
.header-left {
    display: none;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-weight: 700;
}
.hero-btn_blue {
    width: 148px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #1778b8;
    color: white;
    font-size: 11px;
}
}
    

/* Hero section */
.hero-container {
    background-image: url('./images/hero-img2.png.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 673px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-item {
    width: 48em;
    text-align: center;
}
.hero-item h2 {
    font-size: 69px;
    color: white;
    font-family: sans-serif;
    margin: 18px 0;
}
.hero-item p {
    color: white;
    font-size: 22px;
    font-weight: 800;
    font-family: math;
}
.hero-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero-btn_white{
    width: 140px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.hero-btn_blue{
    width: 242px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: #1778b8;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

/* about section */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 9em;
    margin-bottom: 50px;
}
.main-image {
    position: relative;
    width: 361px;
}
.overlay-image {
    position: absolute;
    margin-top: -27em;
    margin-left: 7em;
    width: 372px;
}
.overlay-image img{
    width: 372px;
}
.about-stats {
    display: flex;
    gap: 36px;
    margin: 8px 0;
}
.about-right {
    width: 388px;
    margin-top: -5em;
}
.about-lable {
    width: 85px;
    text-align: center;
}
.about-lable h2 {
    margin: 5px;
    font-weight: bolder;
}
.about-right p {
    line-height: 26px;
    font-family: math;
}
.about-right h3 {
    font-size: 38px;
    font-family: system-ui;
    margin: 9px 0;
}
.about-btn {
    width: 242px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: #1778b8;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

/*  == featured section  */
.featured-container {
    background-color: #f2ebeb;
    height: 66em;
    margin-bottom: 80px;
    padding-top: 52px;
}
.featured-title {
    text-align: -webkit-center
}
.featured-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1205px;
    margin: 0 auto;
    padding-left: 3em
}
.featured-title h3 {
    font-size: 38px;
    font-family: system-ui;
    margin: 9px 0;
}
.featured-menu {
    width: 86px;
    height: 42px;
    background-color: #412727;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.featured-menu:hover {
    background-color: black;
    color: white;
}
.featured-item {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 25px 0;
}
.card-item {
    border-radius: 20px;
    width: 337px;
    padding: 12px;
    height: 399px;
    background-color: white;
    box-shadow: -2px 4px 6px -2px;
}
.card-item img {
    width: 100%;
}
.featured-btn {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #1778b8;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

/* property section */
.property-container {
    background-color: white;
    padding-top: 85px;
}
.property-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}
.property-item {
    border-radius: 20px;
    width: 336px;
    padding: 12px;
    height: 233px;
    background-color: #F5F5F5;
    box-shadow: -2px 4px 6px -2px;
    text-align: -webkit-center;
    padding-top: 36px;
}
.property-item h3 {
    background-color: white;
    padding: 15px;
    width: 155px;
}
.property-title {
    text-align: center;
}
.property-title h3 {
    font-size: 38px;
    font-family: system-ui;
    margin: 9px 0;
}
/* Items section */
.item-container{
    background-image: url(./images/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-description span {
    color: white;
    font-size: 22px;
    font-weight: 800;
    font-family: math;
}
.item-description h2 {
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    margin: 18px 0;
}
.item-description p {
        color: white;
    font-size: 22px;
    font-weight: 800;
    font-family: math;
}
.item-btn {
    width: 242px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: #1778b8;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
